<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/questions.css" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/gif" href="img/favi.PNG">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <title>404</title>
    </head>
    <body>
        <%- include("header"); -%>
        <main>
            <p id="titulo">Preguntas sin responder</p>
            <!--La pregunta y boton-->
            <div id ="preguntas">
                
                <p id="num_preguntas"><%= questions.length %> Preguntas</p>
                <form action="/formular" method="GET">
                    <button type="submit" class="boton">Formular una pregunta</button>
                </form>
                
            </div>
            <!--las preguntas-->
            <div id ="contenido">
                <% questions.forEach(pregunta => {%>
                <!--la pregunta-->
                    <div class="preguntas_container">
                        <div class="pregunta">           
                            <a class="pregunta_start" href="/questions/<%= pregunta.id %>"><%= pregunta.title %></a>  
                            <p class="contenido_pregunta"><%= pregunta.body %>
                            </p>
                            <div class="tag">
                            <% pregunta.tags.forEach(tag =>{%>
                                <form action="/searchTag" method="GET">
                                    <button type="submit"  class="tagButton" name ="tagName" value="<%= tag %>"><%= tag %></button>
                                </form>  
                            <%})%>
                           
                            </div>
                        </div>
                        <div class="info_usuario">
                            <p class="pregunta_formulada">Formulada el <%= pregunta.date %></p>
                            <img src="/fotoId/<%=pregunta.idUsuario%>" alt="Foto usuario">
                            <div>
                                <a href="/usuarios/<%= pregunta.idUsuario %>" class="pregunta_user"><%= pregunta.usuario %></a>
                            </div>
                        </div>
                    </div>
                    <%})%>  
        </main>
    
    </body>
    </html>