<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/user_profile.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/gif" href="/img/favi.PNG">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>404</title>
</head>

<body>
    <%- include("header"); -%>

    <main>
        <div id="contenido">
           <div id="usuario">
               <div id="info_user">
                <img  src="/fotoId/<%=perfil.id%>" alt="Foto usuario">
                    <p class="nombre_user"><%= perfil.name %></p>    
                    <p class="registrado">Miembro desde <%= perfil.date %></p>               
               </div>
               <div id="estadisticas">
                    <p class="titulo naranja">ESTADISTICAS</p>
                    <div id="resumen">
                        <div id="reputacion">
                           <p class="titulo">Reputación</p>
                           <p class="numero"><%= perfil.reputation %></p> 
                        </div>
                        <div id="preguntas">
                            <p class="titulo">Preguntas</p>
                            <p class="numero"><%=  perfil.publicate_questions %></p>
                        </div>
                        <div id="respuestas">
                            <p class="titulo">Respuestas</p>
                            <p class="numero"><%= perfil.publicate_response %></p>
                        </div>
                    </div>
               </div>
           </div>
           <div>
               <p class="titulo naranja tam_med">MEDALLAS</p>
               <div id="medallas">


                   <div  class="med_grupo">
                    <div class="med_row rosa"> 
                     <p class="titulo">BRONCE</p>
                     <% if(perfil.bronce === null || perfil.bronce === undefined){ %>
                        <p class="numero">0</p>
                        <% } %>
                     <p class="numero"><%= perfil.totalBronce %></p>
                    </div>
                    <% if(perfil.bronce != null || perfil.bronce != undefined){ %>
                    <% perfil.bronce.forEach(bronce =>{ %>
                     <% if(bronce.count ===1){ %>
                     <div class="bronce">
                         <h1 class="circulo rosa"></h1>
                         <p  ><%= bronce.medalla %></p>
                     </div>
                         <% } else if(bronce.count > 1){ %>
      
      
                         <div class="varias">
                         <div class="bronce">
                          <h1 class="circulo rosa"></h1>
                         <p ><%= bronce.medalla %></p>
                         </div>
                         <p class="varias_nr">+<%= bronce.count %></p>
                         </div> 
                         <% } %>
                     <% }) %>
                   
                    <% } %>
                </div>
                   
                   <div  class="med_grupo">
                   <div class="med_row azul"> 
                    <p class="titulo">PLATA</p>
                    <% if(perfil.plata === null || perfil.plata === undefined){ %>
                        <p class="numero">0</p>
                        <% } %>
                    <p class="numero"><%= perfil.totalPlata %></p>
                   </div>
                   <% if(perfil.plata != null || perfil.plata != undefined){ %>
                   <% perfil.plata.forEach(plata =>{ %>
                    <% if(plata.count ===1){ %>
                    <div class="bronce">
                        <h1 class="circulo azul"></h1>
                        <p  ><%= plata.medalla %></p>
                    </div>
                        <% } else if(plata.count > 1){ %>
     
     
                        <div class="varias">
                        <div class="bronce">
                         <h1 class="circulo azul"></h1>
                        <p ><%= plata.medalla %></p>
                        </div>
                        <p class="varias_nr">+<%= plata.count %></p>
                        </div> 
                        <% } %>
                    <% }) %>
                  
                   <% } %>
                </div>

                   <div  class="med_grupo">
                    <div class="med_row amarillo"> 
                     <p class="titulo">ORO</p>
                     <% if(perfil.oro === null || perfil.oro === undefined){ %>
                        <p class="numero">0</p>
                        <% } %>
                     <p class="numero"><%= perfil.totalOro %></p>
                    </div>
                    <% if(perfil.oro != null || perfil.oro != undefined){ %>
                    <% perfil.oro.forEach(oro =>{ %>
                     <% if(oro.count ===1){ %>
                     <div class="bronce">
                         <h1 class="circulo amarillo"></h1>
                         <p  ><%= oro.medalla %></p>
                     </div>
                         <% } else if(oro.count > 1){ %>
      
      
                         <div class="varias">
                         <div class="bronce">
                          <h1 class="circulo amarillo"></h1>
                         <p ><%= oro.medalla %></p>
                         </div>
                         <p class="varias_nr">+<%= oro.count %></p>
                         </div> 
                         <% } %>
                     <% }) %>
                    
                    <% } %>
                </div>
                </div>
           </div>

    </main>
</body>

</html>