<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/user_profile.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/gif" href="/img/favi.PNG">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>404</title>
</head>

<body>
    <%- include("header"); -%>

    <main>
        <div id="contenido">
           <div id="usuario">
               <div id="info_user">
                <img  src="/fotoId/<%=perfil.id%>" alt="Foto usuario">
                    <p class="nombre_user"><%= perfil.name %></p>    
                    <p class="registrado">Miembro desde <%= perfil.date %></p>               
               </div>
               <div id="estadisticas">
                    <p class="titulo naranja">ESTADISTICAS</p>
                    <div id="resumen">
                        <div id="reputacion">
                           <p class="titulo">Reputación</p>
                           <p class="numero"><%= perfil.reputation %></p> 
                        </div>
                        <div id="preguntas">
                            <p class="titulo">Preguntas</p>
                            <p class="numero"><%=  perfil.publicate_questions %></p>
                        </div>
                        <div id="respuestas">
                            <p class="titulo">Respuestas</p>
                            <p class="numero"><%= perfil.publicate_response %></p>
                        </div>
                    </div>
               </div>
           </div>
           <div>
               <p class="titulo naranja tam_med">MEDALLAS</p>
               <div id="medallas">
                   <div class="med_grupo">
                   <div class="med_row rosa">
                    <p class="titulo">BRONCE</p>
                    <p class="numero">5</p>
                   </div>
                   <div class="bronce">
                   <h1 class="circulo rosa"></h1>
                   <p  >Pregunta popular</p>
                   </div>
                   <div class="varias">
                   <div class="bronce">
                    <h1 class="circulo rosa"></h1>
                   <p >Respuesta interesante</p>
                   </div>
                   <p class="varias_nr">+2</p>
                   </div> 
                   <div class="bronce">
                    <h1 class="circulo rosa"></h1>
                   <p >Estudiante</p>
                   </div>
                   <div class="bronce">
                    <h1 class="circulo rosa"></h1>
                   <p >Pregunta interesante</p>
                   </div>
                   </div>
                   <div  class="med_grupo">
                   <div class="med_row azul"> 
                    <p class="titulo">PLATA</p>
                    <p class="numero">3</p>
                   </div>
                   <div class="bronce">
                    <h1 class="circulo azul"></h1>
                   <p >Pregunta destacada</p>
                   </div>
                   <div class="varias">
                    <div class="bronce">
                        <h1 class="circulo azul"></h1>
                   <p >Buena pregunta</p>
                   </div>
                   <p class="varias_nr">+2</p>
                   </div>
                   </div>
                   <div  class="med_grupo">
                   <div class="med_row amarillo">
                    <p class="titulo">ORO</p>
                    <p class="numero">2</p>
                   </div>
                   <div class="bronce">
                    <h1 class="circulo amarillo"></h1>
                   <p >Excelente pregunta</p>
                   </div>
                   <div class="bronce">
                    <h1 class="circulo amarillo"></h1>
                   <p >Pregunta famosa</p>
                   </div>
                   </div>
               </div>
           </div>


        </div>
    </main>
</body>

</html>